**
!pyproject.toml
!setup.py
!LICENSE
!README.md
!src/
!src/wc3env/
!src/wc3env/**
!wc3agent/
!wc3agent/pyproject.toml
!wc3agent/LICENSE
!wc3agent/README.md
!wc3agent/src/
!wc3agent/src/wc3agent/
!wc3agent/src/wc3agent/**
!wc3hook/
!wc3hook/**
!assets/
!assets/**
!docker/
!docker/*.py
!docker/*.sh
**/__pycache__/**
**/*.pyc
**/*.egg-info/**
wc3hook/out/**
**/*.w3k
**/.env
